<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 p-5 d-lg-block bg-login-image">
                            <img src="img/brandLogo.jpg" class="img-fluid">
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                                    <p class="mb-4">We get it, stuff happens. Just enter your email address below
                                        and we'll send you a link to reset your password!</p>
                                </div>
                                
                                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                                    <div class="example-container">
                                        <mat-form-field>
                                          <mat-label>Enter your email</mat-label>
                                          <input matInput formControlName="email" placeholder="johndoe@example.com" required />
                                          <mat-icon matSuffix>email</mat-icon>
                                          <mat-error *ngIf="forgotPasswordForm.get('email')!.invalid && forgotPasswordForm.get('email')!.touched">
                                            Please enter a valid email
                                          </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <button mat-flat-button color="primary" type="submit" [disabled]="forgotPasswordForm.invalid">Reset Password</button>
                                </form>
                                <hr>
                         
                                <div class="text-center">
                                    <a class="small" routerLink="/login">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>