<div class="container">
    <div class="row">
        <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Search Address</mat-label>
                <input matInput placeholder="Enter address" (keyup)="applyFilter($event)" #input>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <button mat-raised-button color="primary" routerLink="/add-address">
                Add Address
            </button>
        </div>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="line1">
            <th mat-header-cell *matHeaderCellDef> Add Line 1 </th>
            <td mat-cell *matCellDef="let element"> {{element.sAdd1}} </td>
        </ng-container>

        <ng-container matColumnDef="line2">
            <th mat-header-cell *matHeaderCellDef> Add Line 2 </th>
            <td mat-cell *matCellDef="let element"> {{element.sAdd2}} </td>
        </ng-container>

        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef> City </th>
            <td mat-cell *matCellDef="let element"> {{element.sCityName}} </td>
        </ng-container>

        <ng-container matColumnDef="postalCode">
            <th mat-header-cell *matHeaderCellDef> Postal Code </th>
            <td mat-cell *matCellDef="let element"> {{element.sPostalCode}} </td>
        </ng-container>

        <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef> Mobile No. </th>
            <td mat-cell *matCellDef="let element"> {{element.sTelNo1}} </td>
        </ng-container>

        <ng-container matColumnDef="tel">
            <th mat-header-cell *matHeaderCellDef> Tel No. </th>
            <td mat-cell *matCellDef="let element"> {{element.sTelNo2}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="editAddress(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteAddress(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>