<div class="container">

    <div class="row">
        <div class="col-md-4">
            <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. John" #input>
            </mat-form-field>
        </div>
        <div class="col-md-8">
            <div class="demo-button-container">
                <button mat-raised-button routerLink="/add-employee" class="demo-button">
                    Add Employee
                </button>
            </div>
        </div>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- EmpID Column -->
        <ng-container matColumnDef="iEmpID">
            <th mat-header-cell *matHeaderCellDef> EmpID </th>
            <td mat-cell *matCellDef="let element"> {{element.iEmpID}} </td>
        </ng-container>

        <!-- FirstName Column -->
        <ng-container matColumnDef="sFirstName">
            <th mat-header-cell *matHeaderCellDef> FirstName </th>
            <td mat-cell *matCellDef="let element"> {{element.sFirstName}} </td>
        </ng-container>

        <!-- LastName Column -->
        <ng-container matColumnDef="sLastName">
            <th mat-header-cell *matHeaderCellDef> LastName </th>
            <td mat-cell *matCellDef="let element"> {{element.sLastName}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="sEmail">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.sEmail}} </td>
        </ng-container>

        <!-- MobileNo Column -->
        <ng-container matColumnDef="sMobileNo">
            <th mat-header-cell *matHeaderCellDef> MobileNo </th>
            <td mat-cell *matCellDef="let element"> {{element.sMobileNo}} </td>
        </ng-container>

        <!-- RoleName Column -->
        <ng-container matColumnDef="sRoleName">
            <th mat-header-cell *matHeaderCellDef> RoleName </th>
            <td mat-cell *matCellDef="let element"> {{element.sRoleName}} </td>
        </ng-container>

        <!-- FullAddress Column -->
        <ng-container matColumnDef="sFullAddress">
            <th mat-header-cell *matHeaderCellDef> FullAddress </th>
            <td mat-cell *matCellDef="let element"> {{element.sFullAddress}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" routerLink="/edit-employee">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteEmployee(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the search "{{input.value}}"</td>
        </tr>
    </table>
</div>


