<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Divider -->
    <hr class="sidebar-divider mt-0">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle" (click)="toggleSidebar()"></button>
    </div>
    
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Dynamic Menu Items -->
    <ng-container *ngFor="let menu of sideMenu">
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" [attr.data-target]="'#collapse' + menu.iMainMenuSeq" aria-expanded="true"
                [attr.aria-controls]="'collapse' + menu.iMainMenuSeq">
                <i [class]="menu.sIcon"></i>
                <span>{{ menu.sTitle }}</span>
            </a>
            <div [id]="'collapse' + menu.iMainMenuSeq" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a *ngFor="let subMenu of menu.sCompany" class="collapse-item" [routerLink]="subMenu.sLink">{{ subMenu.sMenuTitle }}</a>
                </div>
            </div>
        </li>
    </ng-container>
</ul>
<!-- End of Sidebar -->