<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 p-5 d-lg-block bg-login-image">
                            <img src="img/brandLogo.jpg" class="img-fluid">
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Reset Password</h1>
                                </div>
                                <form class="user">
                                    <div class="example-container">
                                        <mat-form-field>
                                            <mat-label>New Password</mat-label>
                                            <input matInput [(ngModel)]="newPassword" name="newPassword"
                                                (ngModelChange)="checkPasswords()" required />
                                        </mat-form-field>

                                        <mat-form-field>
                                            <mat-label>Confirm New Password</mat-label>
                                            <input matInput [(ngModel)]="confirmNewPassword" name="confirmNewPassword"
                                                (ngModelChange)="checkPasswords()" [type]="hide() ? 'password' : 'text'"
                                                required />
                                            <button mat-icon-button matSuffix (click)="clickEvent($event)"
                                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                                                <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>

                                    <button (click)="resetPassword()" [disabled]="!formValid" mat-flat-button>Reset
                                        Password</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>